# Dependencies
node_modules/

# Environment Variables
.env*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# React Native
/ios/Pods/
/android/

# Testing
coverage/
.jest-cache/

# Build Outputs
build/

# Caches
.eslintcache
*.tsbuildinfo

# Logs
logs/
*.log

# Temporary Files
.cache/

# Lock Files
package-lock.json
*.lock
